.progress-bar {
    background-color: #6C5B7B;
}

h3 {
    font-size: 16px;
    line-height: 20px;
    color: rgba(108, 91, 123, 0.6);
}

h2 {
    font-size: 32px;
    line-height: 39px;
    color: #6C5B7B;
}

h2,h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
}
