.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -42%);
    box-sizing: border-box;
    max-width: 1500px;
    height: 760px;
    border-radius: 20px;
    background: rgba(248, 177, 149, 0.5);
    padding: 60px 120px 50px 60px;
}

.content {
    width: 100%;
    height: 100%;
}

.last-courses-list {
    padding: 0px 100px;
}

.last-courses-list > h1 {
    color: #6C5B7B;
    font-size: 48px;
    margin-bottom: 80px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
}

.user-avatar {
    border: 5px solid #F67280;
    margin-bottom: 40px;
}

.list-group-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(246, 114, 128, 0.8);
    border-bottom: 4px solid rgba(108, 91, 123, 0.7);
    height: 100px;
}

.list-group-item-editing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #61D4B3;
    border-bottom: 4px solid rgba(108, 91, 123, 0.7);
    height: 100px;
}

.title {
    color: rgba(108, 91, 123, 0.6);
    font-family: Montserrat;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

.user-full-name {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #6C5B7B;
}

.edit-full-name {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #6C5B7B;
    background-color: #61D4B3;
    border: 0;
}

.user-email {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 16px;
    line-height: 29px;
    color: #6C5B7B;
}

.btn-container {
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.edit-btn { 
    display: flex;
    justify-content: center;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background: #F67280;
    color: #6C5B7B;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    border: 0;
}

.edit-btn:hover {
    background: rgb(228, 106, 118);
}   

.course {
    margin-bottom: 20px;
}

.course-title, .course-progress {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
}

.all-courses-list > h1 {
    font-size: 32px;
    line-height: 39px;
    margin: 7px 0 60px 0;
    color: #6C5B7B;
}

.course-title {
    font-size: 20px;
    line-height: 29px;
    color: #6C5B7B;
}

.course-progress {
    font-size: 14px;
    line-height: 10px;
    color: rgba(108, 91, 123, 0.6);
    margin-top: 5px;
}
