.constructorTest-question {
    position: absolute;
    top: 17%;
    left: 49%;
    transform: translate(-50%, -42%);
    box-sizing: border-box;
    max-width: 80%;
    height: 100px;


}
.constructorTest-ansewers {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -42%);
    box-sizing: border-box;
    max-width: 80%;
    height: 60%;
    border-radius: 20px;
    border: 10px solid #F8B195;
    background-color: rgb(248, 178, 150, 0.5);
}
