.constructor-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -42%);
    box-sizing: border-box;
    max-width: 1500px;
    height: 760px;
    border-radius: 20px;
    padding: 1px 110px 50px 60px;
}

.constructor-input {
    width: 500px;
    font-weight: bold;
    font-size: 24px;
    border: 10px solid #F8B195;
    border-radius: 20px;
    background-color: rgb(248, 178, 150, 0.5);
    font-style: normal;
    margin-bottom: 10px;
    height: 100px;
    padding: 25px;
    outline: none;
}

.constructor-input-amount {
    width: 130px;
    height: 100px;
    font-weight: bold;
    font-size: 24px;
    border: 10px solid #F8B195;
    border-radius: 20px;
    background-color: rgb(248, 178, 150, 0.5);
    font-style: normal;
    margin-bottom: 10px;

    padding: 25px;
    outline: none;
}

.constructor-font {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F8B195;
}

.constructor-text-area {
    height: 300px;
    width: 100%;
    outline: none;
    padding: 10px;
    background: rgba(248, 177, 149, 0.5);
    border: 10px solid #F8B195;
    border-radius: 20px;
}

.constructor-button {
    width: 350px;
    height: 100px;
    background: #C06C84;
    border-radius: 10px;
    outline: none;

}

.myButton {
    width: 350px;
    height: 100px;
    background-color: #C06C84;
    border-radius: 10px;
    border: 1px solid #C06C84;
    display: inline-block;
    cursor: pointer;
    color: #F8B195;
    font-style: normal;
    font-weight: bold;
    font-family: Montserrat;
    font-size: 32px;
    line-height: 39px;
    padding: 9px 31px;
    text-decoration: none;
    outline: none;
}

.myButton:hover {
    outline: none;
    background-color: #F8B195;
}