.course-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -43%);
    box-sizing: border-box;
    max-width: 80%;
    height: 80%;
    border-radius: 20px;
    background: rgba(248, 177, 149, 0.5);
    padding: 60px;
}

.course-list-item {
    height: 30px;
    outline: none;
    background: rgba(192, 108, 132);
    border: 0px;
    font-weight: bold;
}

.course-list-item:hover {
    height: 30px;
    background: rgba(248, 177, 149, 0.5);
    outline: none;
    border: 0px;
    font-weight: bold;
}

.course-list-item:focus {
    height: 30px;
    background: rgba(248, 177, 149, 0.5);
    outline: none;
    border: 0px;
    font-weight: bold;
}

.course-accordion {
    border-radius: 20px;
    background: rgba(192, 108, 132);
    border: 0px solid #C06C84;
    font-weight: bold;
}

.course-accordion-toggle {

    background: rgba(192, 108, 132);
    border: 0px solid #C06C84;
    font-weight: bold;
}

.course-accordion-card {
    border: 0px solid #C06C84;
    border-radius: 20px;
    font-weight: bold;
}

.course-accordion-card-body {
    border: 0px solid #C06C84;
    background: rgba(192, 108, 132);
}